.course-card {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 100px;
  width: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  height: 100%;
}

hr {
}
.courses {
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}
