<div class="container">
  <div class="card flex-row flex-wrap">
    <div class="card-image">
      <img
        src="../../../assets/courses/python-course-image.png"
        alt="course image"
        width="400px"
        height="300px"
      />
    </div>
    <div class="card-block px-2">
      <h4 class="card-title">Python for beginners</h4>
      <p class="card-text">₹ 1200</p>
      <div class="stars">
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
      </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <div class="purchase-options">
        <button class="buy-now">Buy now</button>
      </div>
    </div>
  </div>
  <div class="card flex-row flex-wrap">
    <div>
      <img
        src="../../../assets/courses/python-course-image.png"
        alt="course image"
        width="300px"
        height="300px"
      />
    </div>
    <div class="card-block px-2">
      <h4 class="card-title">Python for beginners</h4>
      <p class="card-text">₹ 1200</p>
      <div class="stars">
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
      </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <div class="purchase-options">
        <button class="buy-now">Buy now</button>
      </div>
    </div>
  </div>
  <div class="card flex-row flex-wrap">
    <div>
      <img
        src="../../../assets/courses/python-course-image.png"
        alt="course image"
        width="300px"
        height="300px"
      />
    </div>
    <div class="card-block px-2">
      <h4 class="card-title">Python for beginners</h4>
      <p class="card-text">₹ 1200</p>
      <div class="stars">
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
      </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <div class="purchase-options">
        <button class="buy-now">Buy now</button>
      </div>
    </div>
  </div>
</div>
