.container {
  margin: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 120px;
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.subheading {
  margin-top: 30px;
  font-size: 35px;
}

/* .container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */
.card {
  background-color: #161d29;
  color: white;
  width: 60%;
  display: flex;
  flex-direction: row;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card-img {
  width: 300px;
}

.card-text {
  font-size: 30px;
  font-weight: 400;
}

.card-body {
  margin-left: 20px;
}

.btn {
  background-color: rgba(255, 214, 10, 0.882);
  padding: 10px;
  color: rgba(1, 9, 20, 255);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-right: 25px;
  margin-top: 25px;
}
.stars {
  display: inline-block;
}

.fa-star {
  color: #ddd;
  font-size: 16px;
  margin-right: 5px;
}

.fa-star.filled {
  color: #f1c40f;
}
