<div class="page-header">
  <div class="page-header-logo">
    <h2>Watch & Learn</h2>
  </div>
  <div>
    <div class="page-header-nav">
      <a
        routerLink=""
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
        >HOME</a
      >
      <a
        routerLink="courses"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
        >COURSES</a
      >
    </div>
  </div>
  <div class="page-header-login-logout">
    <a routerLink="login">Log In</a>
  </div>
</div>
