<div class="container">
  <!-- pending course section -->
  <section class="request-container">
    <div class="pending-courses" *ngIf="courses.length > 0">
      <h2>Pending course request</h2>
      <hr />
      <div class="courses-card">
        <app-course
          class="course-card"
          *ngFor="let courseEl of courses; let i = index"
          [course]="courseEl"
          [index]="i"
        ></app-course>
      </div>
    </div>
  </section>

  <!-- all courses section -->
  <section class="courses-container">
    <h2>All courses</h2>
    <hr />
    <div class="all-courses">
      <app-course
        *ngFor="let courseEl of allCourses; let i = index"
        [course]="courseEl"
        [index]="i"
      ></app-course>
    </div>
  </section>
</div>
