.container {
  margin-top: 10px;
  width: 100%;
}

.table {
  width: 100%;
  background-color: #161d29;
  margin-top: 35px;
  text-align: center;
  border: 1px solid #2c333f;
  font-size: 25px;
}

th,
td {
  height: 45px;
}
