<div class="container">
  <div class="searchbar">
    <input
      class="form-style"
      type="text"
      placeholder="Search for anything"
      id="searchtext"
      name="searchtext"
      ngModel
    />
    <button class="btn">Search</button>
  </div>
  <!-- courses -->
  <div class="course-section">
    <!-- filter in the left -->
    <div class="course-container">
      <!-- courses list -->
      <div class="filter">this is our filter section</div>
      <div class="courses">
        <h2>Top course for you</h2>
        <hr />
        <div>
          <app-course></app-course>
        </div>
      </div>
    </div>
  </div>
</div>
