.home {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.heading {
  margin: 25px;
  font-size: 40px;
}

.sub-heading,
.courses-heading,
.feedback-heading {
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.heading-para {
  margin-top: -10px;
  margin-bottom: 40px;
  font-size: small;
  color: #afb2bf;
  max-width: 700px;
}

hr {
  border-top: 3px solid #2c333f;
  color: #2c333f;
  height: 1px;
  margin: 40px 0;
}

.courses-section,
.feedback-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.courses-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.courses-card {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.course-card {
  display: flex;
  flex-wrap: wrap;
  /* gap: 50px; */
  margin-top: 50px;
}

.courses-sub-heading {
  font-size: small;
  color: #afb2bf;
  max-width: 700px;
  margin: 0 10px;
}

.explore {
  background-color: rgba(255, 214, 10, 0.882);
  padding: 10px;
  width: 50%;
  margin-top: 40px;
  color: rgba(1, 9, 20, 255);
  font-weight: bold;
  border-radius: 10px;
}

.courses-feedback {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.course-feedback {
  margin: 0 30px;
  padding: 10px;
  height: 200px;
  width: 250px;
  background-color: #161d29;
  color: white;
}

.feedback-icon {
  width: 100%;
  font-size: 40px;
}
