<div class="home">
  <div class="hero-section">
    <h2 class="heading">
      Empower Your Future with <span class="sub-heading">Coding Skills</span>
    </h2>
    <p class="heading-para">
      With our online coding courses, you can learn at your own pace, from
      anywhere in the world, and get access to a wealth of resources, including
      hands-on projects, quizzes, and personalized feedback from instructors.
    </p>
    <img
      class="home-page-img1"
      src="../../../assets/home-page-img1.png"
      alt="couldn't display image"
      height="400px"
      width="75%"
    />
  </div>
  <hr class="hr" />

  <!-- course card -->
  <div class="courses-section">
    <h2>Unlock the <span class="courses-heading">Power of Code</span></h2>
    <p class="courses-sub-heading">Learn to build anything you can imagine</p>
    <!-- make an api call here for the courses card in the very beginnning -->
    <!-- <div class="courses-card">
      <app-course></app-course>
    </div> -->
    <button class="explore" routerLink="/courses">Explore all courses</button>
  </div>

  <!-- feedbacks -->
  <hr class="hr" />

  <div class="feedback-section">
    <h2>
      Look what others have to
      <span class="feedback-heading">say about us</span>
    </h2>
    <div class="courses-feedback">
      <div class="courses-feedback">
        <div class="course-feedback">a</div>
        <div class="course-feedback">b</div>
        <div class="course-feedback">c</div>
        <div class="course-feedback">d</div>
      </div>
    </div>
  </div>
</div>
