.card {
  background-color: #161d29;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
  color: white;
  padding: 15px;
  height: 300px;
  width: 250px;
  box-shadow: 0 4px 8px 0 #1b232e;
}

.card-img-top {
  border-radius: 5px;
}

/* .card-title {
  margin-top: 10px;
} */

.card:hover {
  transition: all 0.4s ease-in;
  border: 1px solid #344150;

  /* box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.1),
    0 4px 16px 0 rgba(0, 0, 0, 0.15); */
  /* box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15); */
  background-color: #1e242f;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);

  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
}

.card-price {
  font-size: 23px;
  font-weight: 400;
}

h2 {
  margin: 0;
}

/* .card-body {
  padding: 0;
} */

.buy-now,
.reject {
  background-color: rgba(255, 214, 10, 0.882);
  padding: 10px;
  color: rgba(1, 9, 20, 255);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-left: 25px;
}

.add-to-cart,
.approve {
  background-color: rgba(255, 214, 10, 0.882);
  padding: 10px;
  color: rgba(1, 9, 20, 255);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.purchase-options,
.approval-options {
  margin-top: 20px;
}

.fa-star {
  color: #ddd;
  font-size: 12px;
  margin-right: 5px;
}

.fa-star.filled {
  color: #f1c40f;
}

/* .card-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
} */


.card-title{
  font-size: 30px;
  margin: 0;
}
