<div class="course">
  <div class="card">
    <img
      class="card-img-top"
      src="../../../assets/courses/onlinecourse2.webp"
      alt="Card image cap"
      height="250px"
    />
    <div class="card-body">
      <h4 class="card-title">{{ course.name }}</h4>
      <p class="card-text" *ngIf="price">₹ {{ course.price }}</p>
      <div class="stars">
        <i
          class="fa fa-star"
          *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
          [ngClass]="{ filled: course.rating >= i + 1 }"
        ></i>
      </div>
      <div class="purchase-options" *ngIf="isOnCoursePage()">
        <button class="add-to-cart" (click)="addTocart(course)">
          Add to Cart
        </button>
        <button class="buy-now">Buy now</button>
      </div>
      <div class="approval-options" *ngIf="isOnAdminPage()">
        <button class="approve" (click)="approveCourse(course)">Approve</button>
        <button class="reject">Reject</button>
      </div>
    </div>
  </div>
</div>
