<div class="course">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../../../assets/courses/python-course-image.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h4 class="card-title">Python for beginners</h4>
      <p class="card-text">₹ 1200</p>
      <div class="stars">
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
      </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <div class="purchase-options">
        <button class="add-to-cart">Add to Cart</button>
        <button class="buy-now">Buy now</button>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../../../assets/courses/python-course-image.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h4 class="card-title">Python for beginners</h4>
      <p class="card-text">₹ 1200</p>
      <div class="stars">
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
      </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <div class="purchase-options">
        <button class="add-to-cart">Add to Cart</button>
        <button class="buy-now">Buy now</button>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="../../../assets/courses/python-course-image.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h4 class="card-title">Python for beginners</h4>
      <p class="card-text">₹ 1200</p>
      <div class="stars">
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
        <i class="fa-solid fa-star star"></i>
      </div>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <div class="purchase-options">
        <button class="add-to-cart">Add to Cart</button>
        <button class="buy-now">Buy now</button>
      </div>
    </div>
  </div>
</div>
