<div class="container mt-5">
  <button type="button" class="btn btn-primary" (click)="addReimbursement()">
    Add Reimbursement
  </button>

  <div *ngIf="showInputs" class="mt-3">
    <h4>Enter Reimbursements:</h4>
    <form #reimbursementForm="ngForm">
      <div *ngFor="let reimbursement of reimbursements; let i = index">
        <label for="id{{ i }}">ID:</label>
        <input
          type="number"
          class="form-control"
          id="id{{ i }}"
          name="id{{ i }}"
          [(ngModel)]="reimbursement.id"
          required
        />
        <label for="name{{ i }}">Name:</label>
        <input
          type="text"
          class="form-control"
          id="name{{ i }}"
          name="name{{ i }}"
          [(ngModel)]="reimbursement.name"
          required
        />
        <label for="amount{{ i }}">Amount:</label>
        <input
          type="number"
          class="form-control"
          id="amount{{ i }}"
          name="amount{{ i }}"
          [(ngModel)]="reimbursement.amount"
          required
        />
        <label for="type{{ i }}">Type:</label>
        <select
          name="type{{ i }}"
          id="type{{ i }}"
          [(ngModel)]="reimbursement.type"
          class="form-control"
        >
          <option value="" selected disabled>Select a mode</option>
          <option value="debit">Debit</option>
          <option value="credit">Credit</option>
        </select>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteReimbursement(index)"
        >
          Delete
        </button>
      </div>
    </form>

    <button
      type="button"
      class="btn btn-success mt-3"
      (click)="saveReimbursements()"
    >
      Save Reimbursements
    </button>
  </div>

  <div *ngIf="savedReimbursements.length > 0" class="mt-5">
    <h4>Saved Reimbursements:</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody *ngFor="let savedSet of savedReimbursements">
        <tr *ngFor="let reimbursement of savedSet">
          <td>{{ reimbursement.id }}</td>
          <td>{{ reimbursement.name }}</td>
          <td>{{ reimbursement.amount }}</td>
          <td>{{ reimbursement.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
